 
body{
   
    align-items: none;
    height: 120vh;
}

/* CONTENUE */

.contenu{
    margin-top: 25px;
    width: 90%;
    max-width: 400px;
    background-color: none;
 
 }
/* PARTIE GAUCHE */
 
img{
    width:100%;
    border-radius: 10px 10px 0 0;
}


/* PARTIE DROIT  */
.block-droit{
    border-radius: 0 0 10px 10px;
    flex-direction: column;
    padding: 20px 0px 40px 0;
    background-color: white;   
    max-width: 375px;
    position: absolute; 
    padding-left: 25px;
    top: 485px;
}
.commander{
    padding: 15px 30%;
    margin: 5%;
 }
.reduction{
    margin: 15px 0;
}

.panier{
    width: 8%;
    position: relative;
    top: 7px;
    left: -5px;
      
}
 .prix{
    font-size: 40px;
 }
h1{
    font-size: 35px;
}
.parfum{
    font-size: 20px;
}
span{
    font-size: 15px;
}